.post-ad-heading {
    color: #002f34;
    font-weight: 700;
  }
  
  .input-field {
    border: 0.1rem solid #002f34 !important;
  }
  
  .input-field-labels {
    text-align: left;
  }
  .post-ad-heading-add-details {
    color: #002f34;
    font-weight: 700;
    text-align: left;
  }
  
  .post-ad-container {
    background-color: #ffffff;
    width: 80%;
    margin: auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 30px!important;
    padding: 20px 30px;
    border: 1px solid rgba(0, 47, 52, 0.36);
    border-radius: 5px;
    margin-bottom: 150px;
  }
  
  .post-btnn {
    background-color: #4335c9;
    /* width: max-content; */
    border: none;
  }
  
  .post-btnn-text {
    font-size: 20px;
    font-family: system-ui;
    font-weight: 500!important;
  }