.loader{
    width: 60%;
    margin: auto;
    margin-top: 100px;
}
.adv{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.adv>img{
    width: 95%;
    margin: auto;
}
.AllCategories{
    margin-top: 30px;
    margin-bottom: 30px;
}
h4{
    font-size: 15px!important;
    margin-top: 10px!important;
}
.heading{
   padding-left: 4%!important; 
   margin-bottom: 20px!important;
}
.cat-iconMain{
    width: 85%;
    margin: auto;
}
h3{
    font-size: 25px!important;
}
.cat{
    margin-right: 36px!important;
    margin-bottom: 15px!important;
}

.cards-mainn{
    width: 90%;
    margin: auto;
}
@media (max-width: 768px) {
    .cards-mainn{
        width: 80%;
    }
    .cat-iconMain{
        width: 75%;
        margin: auto;
    }
}