.mainHeader {
  width: 100%;
  background-color: #f7f8f8;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 0 solid #f2f4f5;
}
.topSection {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo-1 {
  padding-left: 3%;
  fill: #3a77ff;
}
.icons {
  margin-left: 30px;
}
.icons:hover {
  fill: #3a77ff;
}
.NavbarSection {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
}
.logo-2 {
  padding-left: 3%;
}
.input-1 {
  display: flex;
  align-items: center;
  border: 2px solid black;
  height: 45px;
  width: 24%;
  margin-left: 2%;
  border-radius: 5px;
  background-color: white;
}
.search-icon {
  margin-left: 10px;
  margin-right: 10px;
}
input {
  border: none;
  margin-left: 30px;
  height: 40px;
  width: 100%;
  font-size: 16px;
}
.input-2 {
  display: flex;
  align-items: center;
  border: 2px solid black;
  height: 45px;
  width: 42%;
  margin-left: 1.5%;
  border-radius: 5px;
  background-color: white;
}
.search-icon-2 {
  padding: 7.8px;
  background-color: black;
}
.search-icon-2 > svg {
  fill: white;
}
.login {
  margin-left: 1.4%;
}
.drop-list {
  padding: 8px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgb(241, 236, 236);
  box-shadow: 1px 1px 1px rgb(243, 239, 239);
  display: none;
  /* height: 50px; */
  width: 250px;
  position: absolute;
  top: 110px;
  cursor: pointer;
}
.user-img {
  border-radius: 100%;
  width: 50px;
}
.usr-email {
  font-size: 14px !important;
  margin-bottom: 10px !important;
  text-decoration: underline;
}
.usr-name {
  font-size: 17px !important;
  font-weight: 700;
  margin-left: 5px;
}
.profile-update-btnn {
  background-color: transparent;
  border-radius: 5px;
  height: 38 px;
  width: 230px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}
.profile-update-btnn:active {
  transform: scale(0.99);
}
.drop-list > h3 {
  margin-top: 15px;
  margin-left: 3px !important;
  /* color: rgb(30, 27, 27); */
  font-size: 17px !important;
  font-weight: 600;
  letter-spacing: 1px;
}
.drop-list > h3:hover {
  transform: scale(1.01);
  /* text-decoration: underline; */
}
.drop-list > h4 {
  margin-top: 2px;
  margin-left: 3px !important;
  font-size: 17px !important;
  /* color: rgb(103, 94, 94); */
  font-weight: 600;
  letter-spacing: 1px;
}
.drop-list > h4:hover {
  transform: scale(1.01);
  /* text-decoration: underline; */
}
.iconn {
  margin-right: 12px !important;
  width: 25px !important;
}
.user-login {
  &:hover {
    .drop-list {
      display: block;
    }
    cursor: pointer;
  }
}
.login > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  text-decoration: underline;
}
.sell {
  margin-left: 1.5%;
}
.sell > button {
  border: 6px solid rgb(55, 52, 52);
  border-radius: 50px;
  width: 100px;
  height: 50px;
  background-color: transparent;
}
.sell > button:active {
  transform: scale(0.96);
}
.sell > button > span {
  font-size: 16px;
  font-weight: 700;
}
.y {
  font-size: 20px;
  margin-right: 2px;
}
.Navbar-Bottom {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.categories {
  display: flex;
  align-items: center;
  padding-left: 4%;
}
.categories > span {
  font-weight: 650;
  /* font-size: ; */
}
.categories > svg {
  margin-left: 5px;
}
.categories-2 {
  margin-left: 22px;
}
.categories-2 > a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  /* font-weight: 500; */
}
@media (min-width: 1024px) {
}

@media (max-width: 991px) {
}

@media (max-width: 768px) {
  .input-2 {
    display: none !important;
  }
  .input-1 {
    width: 48%;
    height: 30px;
    transform: scale(0.95);
  }
  .inputt {
    height: 25px;
  }
  .user-img {
    width: 40px;
  }
  .sell > button {
    width: 65px;
    height: 36px;
    border-width: 4px;
    border-radius: 20px!important;
  }
  .sell > button > span {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 30px!important;
    /* display: none; */
  }
  .logo-2 {
    padding-left: 2%;
    transform: scale(0.95);
  }
  .b28a1eb6{
    height:32px;
  }
  .drop-list {
    position: absolute;
    top: 30px;
    left: 43%;
    cursor: pointer;
    transform: scale(0.6);
  }
  .categories-2{
    display: none;
  }
}
